<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="text/html; UTF-8">
    <title>community</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<!--校验是否为由于为登陆而新建的网页-->
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if(closable){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>

<body class="body">
<!-- navigation template -->
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>Find </h2>
            <hr>
<!--            <div class="media">-->
<!--                <div class="media-left">-->
<!--                    <a href="#">-->
<!--                        <img class="media-object" src="https://pic3.zhimg.com/v2-bd18b03c8bb886cb14f5859ad15de6cb_b.jpg">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="media-body">-->
<!--                    <h4 class="media-heading">How to learn spring-boot fast</h4>-->
<!--                    click and watch the videos<br>-->
<!--                    <span class="text-desc">2 reply ~ 31 views ~ 1 hour ago</span>-->
<!--                </div>-->
<!--            </div>-->

            <div class="media" th:each="question : ${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+ ${question.getId()}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.description}"></span><br>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span> reply ~ <span th:text="${question.viewCount}"></span> views ~ <span th:text="${#dates.format(question.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lArr;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.getTotalPage()})}" aria-label="Previous">
                            <span aria-hidden="true">&rArr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>Top Issues</h3>
            <span>1) Title of the post: Please use concise language to describe the issue you posted.</span><br>
            <span>2) Details of the post: Supplement your question in detail, keep the question clear and intuitive.</span><br>
            <span>3) Choose a tag: Select one or more tags, separated by commas, please categorize according to tag specifications.</span><br>
        </div>
    </div>
</div>

</body>
</html>




